// set cols
@for $i from 1 to 12 {
  .col-#{$i} {width: 100%/12 * $i;}
}
//set paddings
@for $p from 1 through 6 {
  .p-#{$p} {padding: 1em * $p;}
}
@for $p from 1 through 6 {
  .pt-#{$p} {padding-top: 1em * $p;}
}
//set margins
@for $m from 1 through 6 {
  .m-#{$m} {margin: 1em * $m;}
}
@for $m from 1 through 6 {
  .mt-#{$m} {margin-top: 1em * $m;}
}
@for $m from 1 through 6 {
  .mb-#{$m} {margin-bottom: 1em * $m;}
}
//set text-aligns
@each $align in right, center, left {
  .text-#{$align} {text-align: $align;}
}
.row {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center
}
//backgrounds
.bg-introduction { 
  background-image: url("../shared/introduction-bg.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.bg-best {
  background-image: url("../shared/bes-bg.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.bg-story {
  background-color: $primary;
  background-image: $obj1, $obj3, $obj2, $obj5, $obj4, $obj6, $obj7;
  background-repeat: no-repeat;
  background-position: 2% 30%, 95% 15%, 90% 10%, 94% 90%, 100% 88%, -2% 90%, 8% 90%;
  background-size: 10%;
}
.bg-window {
  background-image: url("../shared/window.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.bg-video {
  background-image: $vid-obj1, $vid-obj2, $vid-obj3, $vid-obj4,
                    $vid-obj5, $vid-obj6, $vid-obj7, $vid-obj8, $vid-obj9;
  background-repeat: no-repeat;
  background-size: 15%, 4%, 8%, 20%, 5%, 5%, 8%, 30%, 15%;
  background-position: 25% 96%, 58% 92%, 15% 88%, -8% 40%, 10% 0,
   85% 15%, 90% 7%, 105% 90%, 107% 58% ;
}

//buttons
.btn {
  cursor: pointer;
  width: 8em;
  padding: 0.5em;
  border: solid 3px $dark1;
  background-color: $white;
  color: $dark1;
  font-family: $main-font;
  font-size: $btn;
  font-weight: 800;
  text-align: center;
  &:hover {
    background-color: $dark1;
    color: $white;
  }
}

.card-best {
  position: relative;
  cursor: pointer;
  &-tag {
    position: absolute;
    top: -8%;
  }
  &-box {
    position: absolute;
    width: 80%;
    left: 50%;
    bottom: -5%;
    transform: translate((-50%, 5%));
    z-index: 1;
    padding: 0.5em;
    border: 3px solid $dark1;
    background-color: $white;
  }
  &:hover {
    opacity: 0.6;
  }
}
.card-product {
  width: 18%;
  padding: 0.2em;
  margin-bottom: 2em;
  cursor: pointer;
  &:hover {
    opacity: 0.6;
  }
}
