//story objects
$obj1: url('../shared/object-01.png');
$obj2: url('../shared/object-02.png');
$obj3: url('../shared/object-03.png');
$obj4: url('../shared/object-04.png');
$obj5: url('../shared/object-05.png');
$obj6: url('../shared/object-06.png');
$obj7: url('../shared/object-07.png');
//video objects
$vid-obj1: url('../shared/video-object-01.png');
$vid-obj2: url('../shared/video-object-02.png');
$vid-obj3: url('../shared/video-object-03.png');
$vid-obj4: url('../shared/video-object-04.png');
$vid-obj5: url('../shared/video-object-05.png');
$vid-obj6: url('../shared/video-object-06.png');
$vid-obj7: url('../shared/video-object-07.png');
$vid-obj8: url('../shared/video-object-08.png');
$vid-obj9: url('../shared/video-object-09.png');
//fonts
$main-font: 'Montserrat';
$nd-font: 'NotoSansCJKkr';
$heading1: 3.43em;
$heading2: 3.125em;
$heading3: 2.81em;
$heading4: 1.86em;
$heading5: 1.56em;
$heading6: 0.88em;
$title1: 1.25em;
$title2: 1.125em;
$body1: 1.25em;
$body2: 1em;
$body3: 0.875em;
$btn: 1.44em;

//color variables
$white: #ffffff;
$danger1: #f96400;
$danger2: #ff5500;
$dark1: #222222;
$dark2: #110e03;
$secondary: #666666;
$muted: #a9a9a9;
$primary: #0565bb;
$warning1: #fcd32a;
$warning2: #fccb05;
$body: #111111;
//aligns
$aligns: (left, center, right);
//breakpoints
$breakpoints-sm: 576px;